.roadmap{
    width: 91.3%;
    margin: auto;
    margin-top: 2.3rem;
    margin-bottom: 2.3rem;
    color: #fff;
}
.roadmap .roadmap-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
}
.roadmap .roadmap-wrap .phase{
    width: 20%;
    height: 300px !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius:6px;
    padding: 2rem;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
    -webkit-border-radius: 6px;
    font-size: 15px;
}
@media screen  and (max-width:960px){
    .roadmap .roadmap-wrap{
        flex-direction: column;
    }
    .roadmap .roadmap-wrap .phase{
        width: 90%;
        margin: 1.5rem;
    }
}